* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: arial;
}

.container-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-lahir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  background: cyan;
  padding: 15px;
  border-radius: 20px;
  align-items: center;
  border: 3px solid #000;
  height: 300px;
}

.h1form {
  color: red;
}

.hasil1 {
  width: 350px;
  max-height: 20px;
  background: #fff;
  padding: 10px;
}
